<div class="d-flex flex-row w-100">
  <nav class="bg-dark p-3 flex-grow-0 column">
    <img src="../../assets/img/serviceNetLogo.png" class="img-fluid" alt="" />
  </nav>
  <div class="bg-dark flex-grow-1 d-flex flex-row justify-content-end"></div>
</div>

<!-- cards -->

<div class=" d-flex flex-row flex-wrap justify-content-start">
  <div class="card m-5 card-width">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
      <a href="#" data-toggle="modal" data-target="#modalCadastroUsuario" class="mb-3">
        <img src="../../assets/img/plus.svg" width="72" height="72" alt="" />
      </a>
      <p class="card-text">Adicionar Cliente</p>
    </div>
  </div>

  <div class="card m-5 card-width">
    <div class="card-body">
      <h5 class="card-title">Maria Joana</h5>
      <p class="card-text">Telefone : 81992332232</p>
      <p class="card-text">Estado : paraiba</p>
      <p class="card-text">Pais : mangabeira</p>
      <div class="buttons flex-row d-flex justify-content-around">
        <a href="#"><img src="../../assets/img/document.svg" height="30px" width="30px" alt="" /></a>
        <a href="#"><img src="../../assets/img/edit.svg" height="30px" width="30px" alt="" /></a>
        <a href="#"><img src="../../assets/img/delete.svg" height="30px" width="30px" alt="" /></a>
      </div>
    </div>
  </div>

  <div class="card m-5 card-width">
    <div class="card-body">
      <h5 class="card-title">Luiz Alexsandro</h5>
      <p class="card-text">Telefone : 81992332232</p>
      <p class="card-text">Estado : paraiba</p>
      <p class="card-text">Pais : mangabeira</p>
      <div class="buttons flex-row d-flex justify-content-around">
        <a href="#"><img src="../../assets/img/document.svg" height="30px" width="30px" alt="" /></a>
        <a href="#"><img src="../../assets/img/edit.svg" height="30px" width="30px" alt="" /></a>
        <a href="#"><img src="../../assets/img/delete.svg" height="30px" width="30px" alt="" /></a>
      </div>
    </div>
  </div>

  <div class="card m-5 card-width">
    <div class="card-body">
      <h5 class="card-title">Mario Paz</h5>
      <p class="card-text">Telefone : 81992332232</p>
      <p class="card-text">Estado : paraiba</p>
      <p class="card-text">Pais : mangabeira</p>
      <div class="buttons flex-row d-flex justify-content-around">
        <a href="#"><img src="../../assets/img/document.svg" height="30px" width="30px" alt="" /></a>
        <a href="#"><img src="../../assets/img/edit.svg" height="30px" width="30px" alt="" /></a>
        <a href="#"><img src="../../assets/img/delete.svg" height="30px" width="30px" alt="" /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cadastrar Usuario -->
<div class="modal fade" id="modalCadastroUsuario" tabindex="-1" role="dialog" aria-labelledby="modalCadastroUsuario"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #clientRegister="ngForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Nome">Nome</label>
              <input type="email" class="form-control" placeholder="Nome" name="name" [(ngModel)]="modelClientRegister.Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Telefone">Telefone</label>
              <input type="number" (blur)="validPhone()" class="form-control" name="PhoneNumber" [(ngModel)]="modelClientRegister.PhoneNumber"
                  [ngClass]="{'is-valid': PhoneIsValid, 'is-invalid': PhoneIsValid === false, 'form-control': true}">
              <div *ngIf="!PhoneIsValid" class="invalid-feedback"> Telefone Inválido. </div>
            </div>
            <div class="form-group col-md-3">
              <label for="inputZip">CEP</label>
              <input type="text" name="CEP" [(ngModel)]="modelClientRegister.CepId" maxlength="9" (blur)="validCEP()" 
                        [ngClass]="{'is-valid': CEPIsValid, 'is-invalid': CEPIsValid === false, 'form-control': true}">
              <div *ngIf="!CEPIsValid" class="invalid-feedback"> CEP Inválido. </div>
            </div>
            <div class="form-group col-md-6">
              <label for="Endereco">Endereço</label>
              <input type="text" class="form-control" name="Address" [(ngModel)]="modelClientRegister.Address"
                      [disabled]="IsAddressPresent">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Numero">Número</label>
              <input type="number" class="form-control" name="NumberAddress" [(ngModel)]="modelClientRegister.NumberAddress">
            </div>
            <div class="form-group col-md-3">
              <label for="Cidade">Cidade</label>
              <input type="text" class="form-control" name="City" [(ngModel)]="modelClientRegister.City" disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="Pais">País</label>
              <input type="text" class="form-control" name="Country" [(ngModel)]="modelClientRegister.Country">
            </div>
            <div class="form-group col-md-3">
              <label for="Estado">Estado</label>
              <select class="form-control" name="state" [(ngModel)]="modelClientRegister.State" disabled>
                <option *ngFor="let item of states |keyvalue" value="{{item.key}}">{{item.value}}</option>
              </select>
            </div>
            <!-- <div class="form-group col-md-12">
              <iframe width="600" height="200" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=...&key=..." allowfullscreen></iframe>
            </div> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary" (click)="AddClient()" >Finalizar Cadastro</button>
      </div>
    </div>
  </div>
</div>