<div class="d-flex flex-row w-100">
  <nav class="bg-dark p-3 flex-grow-0 column">
    <img src="../../assets/img/serviceNetLogo.png" class="img-fluid" alt="" />
  </nav>
  <div class="bg-dark flex-grow-1 d-flex flex-row justify-content-end"></div>
</div>

<!-- INICIO CARDS -->
<div class=" d-flex flex-row flex-wrap justify-content-start">

  <div class="card m-5 card-width">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
      <a href="#" data-toggle="modal" data-target="#modalCadastroUsuario" class="mb-3">
        <img src="../../assets/img/plus.svg" width="72" height="72" alt="" />
      </a>
      <p class="card-text">Adicionar Cliente</p>
    </div>
  </div>

  <ng-container *ngFor="let client of clients">
    <div class="card m-5 card-width">
      <div class="card-body">
        <h5 class="card-title">{{client.name}}</h5>
        <p class="card-text">Telefone : {{client.phoneNumber}}</p>
        <p class="card-text">Endereço : {{client.address}}</p>
        <p class="card-text">Pais : mangabeira</p>
        <div class="buttons flex-row d-flex justify-content-around">
          <a><img src="../../assets/img/document.svg" height="30px" width="30px" alt="" /></a>
          <a href="#" (click)="ReadClient(client.clientID)" data-toggle="modal" data-target="#modalReadUser">
            <img src="../../assets/img/edit.svg" height="30px" width="30px" alt="" />
          </a>
          <a href="#" (click)="ClientIdToDelete=client.clientID" data-toggle="modal" data-target="#modalDeleta"><img src="../../assets/img/delete.svg" height="30px" width="30px" alt="" /></a>
        </div>
      </div>
    </div>
  </ng-container>

</div>
<!-- FIM CARDS -->

<!-- Modal Cadastrar Usuario -->
<div class="modal fade" id="modalCadastroUsuario" tabindex="-1" role="dialog" aria-labelledby="modalCadastroUsuario"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #clientRegister="ngForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Nome">Nome</label>
              <input type="text" class="form-control" placeholder="Nome" name="name"
                [(ngModel)]="modelClientRegister.Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Telefone">Telefone</label>
              <input type="number" (blur)="validPhone()" class="form-control" name="PhoneNumber"
                [(ngModel)]="modelClientRegister.PhoneNumber"
                [ngClass]="{'is-valid': PhoneIsValid, 'is-invalid': PhoneIsValid === false, 'form-control': true}">
              <div *ngIf="!PhoneIsValid" class="invalid-feedback"> Telefone Inválido. </div>
            </div>
            <div class="form-group col-md-3">
              <label for="inputZip">CEP</label>
              <input type="text" name="CEP" [(ngModel)]="modelClientRegister.CepId" maxlength="9" (blur)="validCEP()"
                [ngClass]="{'is-valid': CEPIsValid, 'is-invalid': CEPIsValid === false, 'form-control': true}">
              <div *ngIf="!CEPIsValid" class="invalid-feedback"> CEP Inválido. </div>
            </div>
            <div class="form-group col-md-6">
              <label for="Endereco">Endereço</label>
              <input type="text" class="form-control" name="Address" [(ngModel)]="modelClientRegister.Address"
                [disabled]="IsAddressPresent">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Numero">Número</label>
              <input type="number" class="form-control" name="NumberAddress"
                [(ngModel)]="modelClientRegister.NumberAddress">
            </div>
            <div class="form-group col-md-3">
              <label for="Cidade">Cidade</label>
              <input type="text" class="form-control" name="City" [(ngModel)]="modelClientRegister.City" disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="Pais">País</label>
              <input type="text" class="form-control" name="Country" [(ngModel)]="modelClientRegister.Country">
            </div>
            <div class="form-group col-md-3">
              <label for="Estado">Estado</label>
              <select class="form-control" name="state" [(ngModel)]="modelClientRegister.State" disabled>
                <option *ngFor="let item of states |keyvalue" value="{{item.key}}">{{item.value}}</option>
              </select>
            </div>
            <!-- <div class="form-group col-md-12">
              <iframe width="600" height="200" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=...&key=..." allowfullscreen></iframe>
            </div> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary" (click)="AddClient()">Finalizar Cadastro</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal Cadastrar Usuario -->

<!-- Modal Read Usuario -->
<div class="modal fade" id="modalReadUser" tabindex="-1" role="dialog" aria-labelledby="modalReadUser"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Visualizador Clientes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #clientRegister="ngForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Nome">Nome</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="modelRead.name" disabled>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Telefone">Telefone</label>
              <input type="number" class="form-control" name="PhoneNumber" [(ngModel)]="modelRead.phoneNumber"
                [ngClass]="{'form-control': true}" disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="inputZip">CEP</label>
              <input type="text" name="CEP" [(ngModel)]="modelRead.cep" [ngClass]="{'form-control': true}" disabled>
            </div>
            <div class="form-group col-md-6">
              <label for="Endereco">Endereço</label>
              <input type="text" class="form-control" name="Address" [(ngModel)]="modelRead.address" disabled>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Numero">Número</label>
              <input type="number" class="form-control" name="NumberAddress" [(ngModel)]="modelRead.numberAddress"
                disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="Cidade">Cidade</label>
              <input type="text" class="form-control" name="City" [(ngModel)]="modelRead.city" disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="Pais">País</label>
              <input type="text" class="form-control" name="Country" [(ngModel)]="modelRead.country" disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="Estado">Estado</label>
              <select class="form-control" name="state" [(ngModel)]="modelRead.state" disabled>
                <option *ngFor="let item of states |keyvalue" value="{{item.key}}">{{item.value}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal Read Usuario -->

<!-- Modal Deletar Usuário -->
<div class="modal fade" id="modalDeleta" tabindex="-1" role="dialog" aria-labelledby="modalDeleta"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja Realmente Apagar o Usuário ?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <button (click)="DeleteClient()" type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIM Modal Deletar Usuário -->